In [4]:
# üì¶ Imports
import pandas as pd
import glob
import os

# üìÅ Caminho da pasta com os CSVs
caminho_pasta = '/home/flaviana/Alexandre/compre_up/export_csv/projeto_01/dados'
caminho_csvs = os.path.join(caminho_pasta, '*.csv')

# üìÑ L√™ todos os CSVs e cria vari√°veis com base nos nomes dos arquivos
dataframes = {} # Vamos armazenar os DataFrames em um dicion√°rio

for caminho in glob.glob(caminho_csvs):
    nome_arquivo = os.path.basename(caminho).replace('.csv', '')
    try:
        df = pd.read_csv(caminho)
        dataframes[nome_arquivo] = df
        # print(f"‚úÖ Carregado: {nome_arquivo} ({caminho})")
    except Exception as e:
        print(f"‚ùå Erro ao carregar {nome_arquivo} ({caminho}): {e}")

# ‚úÖ Agora vamos exibir o conte√∫do de cada DataFrame carregado
print("\n--- Conte√∫do dos DataFrames Carregados ---")
for nome, df in dataframes.items():
    print(f"\nDataFrame: {nome}")
    display(df) # Use print(df) se n√£o estiver em um ambiente interativo

--- Conte√∫do dos DataFrames Carregados ---

DataFrame: packagings

,id,name,material,created_at,updated_at
0,1,Caixa,NaN,2025-03-13 19:38:11.537794,2025-03-13 19:38:11.537794
1,2,Saco,NaN,2025-03-13 19:38:11.550623,2025-03-13 19:38:11.550623
2,3,Embalagem,NaN,2025-03-13 19:38:11.562607,2025-03-13 19:38:11.562607
3,4,Pacote,NaN,2025-03-13 19:38:11.577191,2025-03-13 19:38:11.577191

DataFrame: special_prices

,id,supplier_product_id,buyer_company_id,created_by,max_quantity,created_at,updated_at
0,1,1,42,35,17,2025-03-13 19:38:12.425010,2025-03-13 19:38:12.425010
1,2,2,18,45,11,2025-03-13 19:38:12.479596,2025-03-13 19:38:12.479596
2,3,3,42,30,10,2025-03-13 19:38:12.550166,2025-03-13 19:38:12.550166
3,4,4,1,23,7,2025-03-13 19:38:12.605086,2025-03-13 19:38:12.605086
4,5,5,2,34,7,2025-03-13 19:38:12.655429,2025-03-13 19:38:12.655429
5,6,6,23,27,12,2025-03-13 19:38:12.714714,2025-03-13 19:38:12.714714
6,7,7,4,20,14,2025-03-13 19:38:12.766906,2025-03-13 19:38:12.766906
7,8,8,24,11,15,2025-03-13 19:38:12.813788,2025-03-13 19:38:12.813788
8,9,9,31,31,14,2025-03-13 19:38:12.893397,2025-03-13 19:38:12.893397
9,10,10,13,27,13,2025-03-13 19:38:12.958113,2025-03-13 19:38:12.958113
10,11,11,6,10,17,2025-03-13 19:38:13.010687,2025-03-13 19:38:13.010687
11,12,12,48,18,8,2025-03-13 19:38:13.062985,2025-03-13 19:38:13.062985
12,13,13,19,15,12,2025-03-13 19:38:13.139329,2025-03-13 19:38:13.139329
13,14,14,16,9,18,2025-03-13 19:38:13.191809,2025-03-13 19:38:13.191809
14,15,15,9,3,10,2025-03-13 19:38:13.261883,2025-03-13 19:38:13.261883
15,16,16,29,46,18,2025-03-13 19:38:13.315939,2025-03-13 19:38:13.315939
16,17,17,45,12,18,2025-03-13 19:38:13.382111,2025-03-13 19:38:13.382111
17,18,18,6,46,19,2025-03-13 19:38:13.444852,2025-03-13 19:38:13.444852
18,19,19,7,42,5,2025-03-13 19:38:13.491408,2025-03-13 19:38:13.491408
19,20,20,32,36,17,2025-03-13 19:38:13.542179,2025-03-13 19:38:13.542179
20,21,21,22,42,7,2025-03-13 19:38:13.593090,2025-03-13 19:38:13.593090
21,22,22,44,1,15,2025-03-13 19:38:13.642594,2025-03-13 19:38:13.642594
22,23,23,47,39,5,2025-03-13 19:38:13.691084,2025-03-13 19:38:13.691084
23,24,24,40,20,7,2025-03-13 19:38:13.749270,2025-03-13 19:38:13.749270
24,25,25,22,8,6,2025-03-13 19:38:13.816831,2025-03-13 19:38:13.816831
25,26,26,40,1,11,2025-03-13 19:38:13.892758,2025-03-13 19:38:13.892758
26,27,27,3,40,16,2025-03-13 19:38:13.942845,2025-03-13 19:38:13.942845
27,28,28,46,41,7,2025-03-13 19:38:13.999251,2025-03-13 19:38:13.999251
28,29,29,13,1,18,2025-03-13 19:38:14.056895,2025-03-13 19:38:14.056895
29,30,30,19,23,19,2025-03-13 19:38:14.121915,2025-03-13 19:38:14.121915
30,31,31,27,15,17,2025-03-13 19:38:14.176568,2025-03-13 19:38:14.176568
31,32,32,37,7,19,2025-03-13 19:38:14.227672,2025-03-13 19:38:14.227672
32,33,33,24,41,16,2025-03-13 19:38:14.288410,2025-03-13 19:38:14.288410
33,34,34,4,35,11,2025-03-13 19:38:14.348686,2025-03-13 19:38:14.348686
34,35,35,34,31,9,2025-03-13 19:38:14.449249,2025-03-13 19:38:14.449249
35,36,36,42,30,10,2025-03-13 19:38:14.534421,2025-03-13 19:38:14.534421
36,37,37,9,13,6,2025-03-13 19:38:14.609194,2025-03-13 19:38:14.609194
37,38,38,23,11,8,2025-03-13 19:38:14.654993,2025-03-13 19:38:14.654993
38,39,39,15,17,15,2025-03-13 19:38:14.716819,2025-03-13 19:38:14.716819
39,40,40,1,8,15,2025-03-13 19:38:14.778509,2025-03-13 19:38:14.778509
40,41,41,29,4,15,2025-03-13 19:38:14.838693,2025-03-13 19:38:14.838693
41,42,42,25,31,9,2025-03-13 19:38:14.884841,2025-03-13 19:38:14.884841
42,43,43,8,37,18,2025-03-13 19:38:14.935679,2025-03-13 19:38:14.935679
43,44,44,11,12,17,2025-03-13 19:38:15.007719,2025-03-13 19:38:15.007719
44,45,45,32,46,8,2025-03-13 19:38:15.055861,2025-03-13 19:38:15.055861
45,46,46,6,16,19,2025-03-13 19:38:15.113126,2025-03-13 19:38:15.113126
46,47,47,31,17,8,2025-03-13 19:38:15.162001,2025-03-13 19:38:15.162001
47,48,48,2,47,14,2025-03-13 19:38:15.209188,2025-03-13 19:38:15.209188
48,49,49,36,48,6,2025-03-13 19:38:15.257215,2025-03-13 19:38:15.257215
49,50,50,18,33,18,2025-03-13 19:38:15.313304,2025-03-13 19:38:15.313304

DataFrame: tags_product

Empty DataFrame
Columns: [id, tag_id, product_id, created_at, updated_at, product_approval_id]
Index: []

DataFrame: schema_migrations

           version
0   20250225175510
1   20250221183855
2   20250220173347
3   20250219174012
4   20250219162552
5   20250211190206
6   20250211183522
7   20250211181329
8   20250116185433
9   20250116174554
10  20250116173617
11  20250116152827
12  20250116152825
13  20250116152113
14  20250109171239
15  20250109171226
16  20250109171201
17  20241230164703
18  20241127214234
19  20241126200349
20  20241024225216
21  20241024225144
22  20241024215108
23  20241007221101
24  20240826192424
25  20240814124852
26  20240808132340
27  20250310172339
28  20250311165802
29  20250318133051
30  20250318115537
31  20250318115829
32  20250320185750
33  20250321144144
34  20250402105323
35  20250402110045
36  20250408124527
37  20250410183803
38  20250410184303
39  20250422165350

DataFrame: subsidiaries

,id,company_id,cnpj_type,cnpj,responsible_name,responsible_number,state,city,district,street,...,complement,zip_code,morning,afternoon,start_morning_hour,end_morning_hour,start_afternoon_hour,end_afternoon_hour,created_at,updated_at
0,1,2,unified,24.472.132/0007-70,Emanuel Ribeira,(67) 97468-3588,RS,Esperan√ßa Nova,Summer Village,Rua Davi Casqueira,...,NaN,55898-881,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:16.840365,2025-03-13 19:37:16.840365
1,3,4,independent,95.204.789/0005-32,Jo√£o Gabriel Bomdia,(13) 93800-2554,MA,Guaxup√©,Paradise Estates,Avenida Beatriz,...,NaN,46358-149,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:16.860616,2025-03-13 19:37:16.860616
2,4,4,independent,24.124.029/0002-24,Pietro da Aldeia Filho,(47) 93163-4754,BA,Paverama,Pine Acres,Marginal Henry,...,Lote 35,52817-236,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:16.869773,2025-03-13 19:37:16.869773
3,5,4,unified,76.886.046/0003-83,Juliana da Silva,(45) 93478-1439,SC,S√£o Roque do Cana√£,Paradise Oaks,Rodovia Camila,...,Lote 67,81841-284,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:16.899564,2025-03-13 19:37:16.899564
4,6,13,independent,48.049.029/0004-37,Davi Lucca da Veiga,(53) 95035-6439,BA,Serra Negra,Paradise Creek,Viela Enzo Gabriel Bulh√µes,...,Apto. 691,96102-812,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:16.908680,2025-03-13 19:37:16.908680
5,7,14,independent,47.327.224/0006-80,Maria Isis Vidal,(27) 91132-8447,BA,Pereiras,Park Heights,Viela El√≠sio,...,Quadra 79,32983-886,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:16.918602,2025-03-13 19:37:16.918602
6,8,14,independent,78.108.103/0001-67,Mait√™ Cavalcanti,(98) 91173-9005,RR,Piquet Carneiro,Eagle Acres,Travessa Juliana,...,Sobrado 89,32892-992,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:16.927361,2025-03-13 19:37:16.927361
7,9,15,independent,69.806.994/0003-04,Vit√≥ria Hernandes Jr.,(53) 97037-3345,CE,Marmel√≥polis,Eagle Crossing,Travessa C√©lia,...,Quadra 85,64574-491,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:16.936642,2025-03-13 19:37:16.936642
8,10,16,independent,62.895.383/0004-03,Sara Filgueira,(55) 95635-7636,RO,Monte Carlo,Autumn Village,Marginal Samuel da Terra,...,Sobrado 31,16037-489,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:16.953131,2025-03-13 19:37:16.953131
9,11,16,unified,30.482.596/0003-36,Maria Eduarda do Prado,(63) 92622-3705,PR,Cristais Paulista,Summer Pointe,Rodovia Washington Moreira,...,Sobrado 88,53456-109,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:16.962400,2025-03-13 19:37:16.962400
10,12,19,unified,41.339.134/0004-61,J√∫lia Rios,(38) 93979-9594,AL,Mesquita,Park Gardens,Avenida Francisco,...,Apto. 574,82936-072,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:16.978256,2025-03-13 19:37:16.978256
11,13,19,unified,41.287.232/0009-07,Dr. Rebeca de S√°,(77) 92055-3055,AL,Barcelos,University Square,Ponte Arthur Miguel,...,Casa 1,88824-466,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:16.988990,2025-03-13 19:37:16.988990
12,14,21,unified,37.776.536/0005-37,Ana Vit√≥ria Ramires,(22) 97289-7582,RO,Palho√ßa,Park Estates,Marginal Alessandro do Prado,...,Sobrado 84,92686-891,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:16.998806,2025-03-13 19:37:16.998806
13,15,21,independent,03.031.068/0003-98,Pietra Videira Jr.,(38) 99283-1253,RR,Cear√°-Mirim,University Court,Travessa Rebeca da Silveira,...,Quadra 90,15468-783,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:17.020559,2025-03-13 19:37:17.020559
14,16,22,unified,71.631.060/0006-65,Sr. Lucas Gabriel Bernardes,(66) 98961-1610,MA,Cris√≥lita,Park Crossing,Rodovia Let√≠cia,...,Casa 2,29918-632,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:17.030389,2025-03-13 19:37:17.030389
15,17,22,unified,08.691.709/0001-92,Eduarda Marins Filho,(71) 91484-1730,RR,Anauril√¢ndia,Autumn Heights,Viela Laura Alves,...,NaN,97044-633,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:17.039752,2025-03-13 19:37:17.039752
16,18,23,unified,62.361.789/0008-30,Fabr√≠cio Guedes,(75) 95501-9352,SE,Paranagu√°,Paradise Heights,Viela Marli,...,NaN,32411-497,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:17.048806,2025-03-13 19:37:17.048806
17,19,24,independent,25.401.510/0005-25,Jana√≠na Palhares,(43) 91836-8071,TO,Dom Bas√≠lio,Park Estates,Viela Mariana,...,NaN,96085-460,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:17.064109,2025-03-13 19:37:17.064109
18,20,24,independent,10.511.116/0005-72,Dra. Frederico Barata,(62) 99132-1826,SE,S√£o Jos√© do Hort√™ncio,Paradise Gardens,Travessa Camila do Prado,...,Sobrado 70,84953-311,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:17.074145,2025-03-13 19:37:17.074145
19,21,25,independent,50.757.760/0007-01,Kaique Guterres,(61) 99282-9055,PI,Giru√°,Paradise Gardens,Travessa Lucca Ara√∫jo,...,Casa 8,60643-279,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:17.083674,2025-03-13 19:37:17.083674
20,22,25,independent,51.573.664/0003-42,Lara da Gama,(92) 91512-4025,TO,Guare√≠,Willow Court,Viela Catarina,...,Lote 28,28178-017,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:17.093517,2025-03-13 19:37:17.093517
21,23,28,unified,08.986.937/0009-47,P√©rola Matoso,(66) 91277-2119,RO,Te√≥filo Otoni,Pine Crossing,Ponte Allana,...,Sobrado 71,34433-214,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:17.106449,2025-03-13 19:37:17.106449
22,24,28,independent,20.108.837/0007-51,Maria Sophia Banheira Neto,(31) 91405-5694,RN,Ouricuri,Autumn Heights,Viela Maria Fernanda Beltr√£o,...,NaN,50972-907,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:17.116515,2025-03-13 19:37:17.116515
23,25,28,independent,28.927.264/0009-61,Morgana Peixoto,(19) 96130-9675,TO,Piratininga,Royal Heights,Ponte Aurora,...,Quadra 53,44050-253,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:17.130059,2025-03-13 19:37:17.130059
24,26,29,independent,67.414.412/0002-20,Srta. Maya Lessa,(88) 96809-1284,RS,Nossa Senhora dos Rem√©dios,Summer Heights,Viela Thiago Morais,...,Apto. 127,76487-980,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:17.182831,2025-03-13 19:37:17.182831
25,27,29,independent,18.442.835/0007-52,Djalma Bou√ßas,(74) 99836-5990,DF,Guajar√°,Eagle Crossing,Rua Lorenzo,...,Lote 89,18012-954,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:17.192472,2025-03-13 19:37:17.192472
26,28,32,unified,73.690.469/0008-40,Sr. Maya S√°,(85) 95939-1836,RS,Cotia,Park Estates,Ponte Gabriel Vieira,...,NaN,58778-282,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:17.201637,2025-03-13 19:37:17.201637
27,29,32,unified,89.439.572/0008-51,Yuri Viana,(42) 98545-6802,PI,S√£o Sebasti√£o do Maranh√£o,Paradise Heights,Rua M√°rcia da Fronteira,...,NaN,45942-248,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:17.210560,2025-03-13 19:37:17.210560
28,30,34,unified,30.470.000/0003-88,Lara Amoreira Filho,(66) 96007-5950,TO,Corumbiara,University Square,Alameda Igor Bittencourt,...,NaN,42040-202,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:17.221392,2025-03-13 19:37:17.221392
29,31,34,unified,41.725.138/0007-20,Isabelly de Borba,(41) 98051-8470,PR,Assis Brasil,Willow Court,Alameda Danilo,...,Casa 1,62360-361,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:17.230221,2025-03-13 19:37:17.230221
30,32,36,independent,63.151.008/0004-11,Ol√≠via Diegues,(67) 92608-3149,AP,Bom Jesus do Sul,Paradise Place,Avenida Ana Cec√≠lia Almeida,...,Sobrado 12,83073-162,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:17.240375,2025-03-13 19:37:17.240375
31,33,36,independent,35.109.894/0004-80,Fabr√≠cia da Fontoura,(31) 97981-2476,BA,Doutor Ulysses,Royal Oaks,Ponte Isabelly,...,NaN,80698-239,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:17.257793,2025-03-13 19:37:17.257793
32,34,39,unified,40.046.628/0003-04,Felipe Solim√µes,(95) 97381-6177,TO,Barroquinha,Pine Estates,Rodovia Nataniel de Lins,...,NaN,23117-613,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:17.268525,2025-03-13 19:37:17.268525
33,35,39,unified,26.080.636/0007-70,Roberta da Bandeira,(48) 95162-7368,MA,Passo do Sobrado,Willow Square,Viela Yasmin de Assun√ß√£o,...,NaN,76275-280,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:17.279154,2025-03-13 19:37:17.279154
34,36,40,unified,77.830.255/0001-06,Silas Peixoto,(97) 96106-5250,RJ,M√£e do Rio,Paradise Creek,Rodovia Elisa de Borba,...,NaN,41875-201,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:17.288929,2025-03-13 19:37:17.288929
35,37,40,independent,09.367.036/0005-06,Dra. Yago Modesto,(53) 99452-1849,AC,Santa Rita de Ibitipoca,Park Oaks,Ponte Morgana,...,Apto. 381,96821-508,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:17.299593,2025-03-13 19:37:17.299593
36,38,40,independent,70.091.593/0003-96,Daniel Munhoz,(97) 91488-8390,TO,Carbonita,Summer Heights,Viela Leonardo Moura,...,NaN,99625-151,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:17.309054,2025-03-13 19:37:17.309054
37,39,41,independent,79.006.400/0003-26,Ana Clara Guedes,(34) 95496-8337,ES,Igaratinga,Summer Pointe,Rodovia Carolina Esteves,...,Apto. 618,17003-539,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:17.318485,2025-03-13 19:37:17.318485
38,40,41,unified,26.057.141/0005-68,Heitor da Luz,(15) 94637-2884,RR,Z√© Doca,Paradise Estates,Rodovia Rodrigo,...,NaN,10530-520,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:17.328280,2025-03-13 19:37:17.328280
39,41,43,unified,03.925.594/0007-25,Laura Brum,(54) 91630-3451,CE,Rio Tinto,Royal Acres,Ponte Isaac,...,Casa 1,96298-985,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:17.337683,2025-03-13 19:37:17.337683
40,42,43,unified,07.699.382/0003-02,Davi Lucca Velasques,(97) 97494-6397,TO,Datas,Pine Gardens,Rua Helena,...,Quadra 40,58087-050,True,True,08:00:00,12:00:00,13:00:00,18:00:00,2025-03-13 19:37:17.347034,2025-03-13 19:37:17.347034
41,44,2,unified,12123123123412,qwe123,24512312312,PE,Betania,awerq,tqwqwe,...,t123,13512312,True,False,12:54:00,16:30:00,NaN,NaN,2025-04-03 17:59:29.132018,2025-04-03 17:59:29.132018
42,45,2,unified,12312121231231,teqwe,12512312312,PE,Araripina,qweq,t1231,...,NaN,12361231,True,False,12:55:00,12:00:00,NaN,NaN,2025-04-09 13:09:09.852488,2025-04-09 13:09:09.852488
43,46,2,unified,77777777777777,Teste da Silva,85999999999,CE,Fortaleza,Teste,rua do teste,...,teste,00000000,True,True,08:00:00,09:10:00,12:00:00,18:00:00,2025-04-10 14:16:40.240025,2025-04-10 14:16:40.240025
44,48,2,unified,27880698000113,PADARIA BERVAL,85999999999,CE,Fortaleza,ALDEOTA,RUA 2,...,PREDIO AZUL,74000000,True,True,07:00:00,12:00:00,12:00:00,18:00:00,2025-04-11 14:52:14.471528,2025-04-11 14:52:14.471528
45,49,2,unified,16233885000162,Raimundo teste,88888959566,PI,Bertolinia,potigia,Rua arapiara,...,NaN,61763555,True,False,08:00:00,12:00:00,NaN,NaN,2025-04-11 19:44:57.050793,2025-04-11 19:44:57.050793
46,50,3,unified,12312312312312,tqwweqw,85989312312,PE,Barreiros,teste,qwepqo,...,NaN,12512312,True,False,10:11:00,12:28:00,14:28:00,14:28:00,2025-04-16 14:29:07.049678,2025-04-16 14:29:07.049678
47,51,60,unified,76243971000124,Ryvane PO,85986169299,CE,Aquiraz,urucunema,Rua arapiara,...,NaN,61763585,False,True,21:03:00,21:03:00,08:03:00,12:03:00,2025-04-16 21:10:10.348205,2025-04-16 21:10:10.348205
48,52,61,unified,01963943000182,Marcelo Cruz,85999999999,CE,Araripe,centro,Rua s√£o Paulo,...,port√£o azul,64000000,True,True,07:12:00,14:18:00,12:16:00,15:17:00,2025-04-18 01:03:48.595088,2025-04-18 01:03:48.595088
49,53,63,independent,07200181000149,TOM TALETONS,85999999999,PA,Barcarena Nova,CENTRO,RUA DO LIRIO,...,NaN,64000000,True,True,06:52:00,12:52:00,12:52:00,12:52:00,2025-04-18 12:54:50.477699,2025-04-18 12:54:50.477699
50,54,60,unified,16236885000162,Emanuel Ribeira,85986169299,CE,Fortaleza,Summer Village,RUA 222,...,NaN,NaN,True,False,08:23:00,12:31:00,12:31:00,12:31:00,2025-04-22 12:31:52.217285,2025-04-22 12:31:52.217285
51,55,2,unified,44715600000101,NaN,NaN,MT,Sinop,NaN,NaN,...,NaN,NaN,True,True,14:10:00,14:10:00,14:10:00,14:10:00,2025-04-25 14:11:09.253413,2025-04-25 14:11:09.253413
52,56,65,unified,16236300016233,deana okoeeee,85999999999,CE,Fortaleza,urucunema,Rua Davi Casqueir,...,NaN,61763585,True,True,08:00:00,12:01:00,13:07:00,18:00:00,2025-04-25 18:08:58.289034,2025-04-25 18:09:46.930937

DataFrame: companies

,id,email,cnpj,social_name,legal_name,state_registration,phone,company_type,created_at,updated_at
0,3,christene@hansen.example,60190670433685,da Silva-Gomes,"Empresa Franco, da Terra e Macedo Ltda.",429715512,(62) 2165-3171,buyer,2025-03-13 19:37:15.988665,2025-03-13 19:37:15.988665
1,4,cherrie_stehr@mosciski.test,10079753518229,Parreira-Neves,Empresa Junqueira-Domingues Ltda.,535855986,(98) 5045-6620,buyer,2025-03-13 19:37:16.000357,2025-03-13 19:37:16.000357
2,5,clair@roob-lubowitz.example,28755140103633,Silva-Leiria,Empresa Macieira LTDA Ltda.,667431542,(77) 6282-5808,supplier,2025-03-13 19:37:16.013530,2025-03-13 19:37:16.013530
3,6,sonia.cassin@feil-jerde.test,30292330368198,"Rodrigues, Carvalheira e Guedes",Empresa Roriz S.A. Ltda.,598543433,(71) 1358-1886,supplier,2025-03-13 19:37:16.026508,2025-03-13 19:37:16.026508
4,7,sergio.shanahan@williamson-nader.example,93448257745399,da Fronteira e Associados,Empresa Corr√™a e Associados Ltda.,323156546,(67) 8971-8637,supplier,2025-03-13 19:37:16.038415,2025-03-13 19:37:16.038415
5,8,angelo.purdy@schinner.example,65496315427133,"Castanho, Sim√£o e Peixoto","Empresa Espinhosa, Ordonhes e Macieira Ltda.",801320716,(88) 3061-6538,supplier,2025-03-13 19:37:16.050164,2025-03-13 19:37:16.050164
6,9,lloyd@konopelski.example,26205039560979,Pereira EIRELI,Empresa da Barra S.A. Ltda.,182793916,(28) 3039-2154,supplier,2025-03-13 19:37:16.062104,2025-03-13 19:37:16.062104
7,10,johnathon@conroy.example,97342789562252,Castro-Ornelas,Empresa Moreira-da Mota Ltda.,189263601,(13) 4344-4004,supplier,2025-03-13 19:37:16.073863,2025-03-13 19:37:16.073863
8,11,frances.emmerich@lesch.test,54954802400344,Ferra√ßo Com√©rcio,Empresa Quaresma LTDA Ltda.,440618432,(13) 9915-5139,supplier,2025-03-13 19:37:16.089728,2025-03-13 19:37:16.089728
9,12,jan_parisian@rohan.test,46370049126527,Teles LTDA,Empresa Nascimento Com√©rcio Ltda.,774218740,(62) 1840-3438,supplier,2025-03-13 19:37:16.129381,2025-03-13 19:37:16.129381
10,13,desmond.krajcik@dubuque.test,41664633698814,de Oliveira-Paes,"Empresa Veloso, da Fontoura e Gabeira Ltda.",172714528,(81) 4050-9478,buyer,2025-03-13 19:37:16.154177,2025-03-13 19:37:16.154177
11,14,alphonso_bergstrom@borer-ortiz.test,69542291192737,Ferra√ßo-√Ålvares,Empresa Caldas-da Veiga Ltda.,202282122,(69) 3107-5073,buyer,2025-03-13 19:37:16.167302,2025-03-13 19:37:16.167302
12,15,fatima_steuber@little-pfannerstill.example,38889716172466,Aguiar e Associados,"Empresa da Barra, Neves e Teixeira Ltda.",844535042,(61) 3123-4758,buyer,2025-03-13 19:37:16.180195,2025-03-13 19:37:16.180195
13,16,theresia@thiel-emard.test,29367299326602,"Teixeira, Saraiva e Filgueira",Empresa Filgueira S.A. Ltda.,769853732,(97) 6738-4812,buyer,2025-03-13 19:37:16.193830,2025-03-13 19:37:16.193830
14,17,ruth.olson@rogahn.example,17661199127979,de Quadros S.A.,Empresa Moreira Com√©rcio Ltda.,193225024,(65) 7019-6910,supplier,2025-03-13 19:37:16.205932,2025-03-13 19:37:16.205932
15,18,nichol.considine@watsica.test,88317909387508,"Mendanha, da Silveira e S√°",Empresa Rios e Associados Ltda.,617157563,(14) 5920-7115,supplier,2025-03-13 19:37:16.219851,2025-03-13 19:37:16.219851
16,19,bert@hayes.test,72195895516147,"Saraiva, da Barranca e Neves",Empresa Albuquerque-Ouriques Ltda.,910818504,(83) 9943-8806,buyer,2025-03-13 19:37:16.243005,2025-03-13 19:37:16.243005
17,20,elisabeth@stroman.test,25631403279660,Meireles LTDA,Empresa Neves S.A. Ltda.,708593889,(13) 9715-6729,supplier,2025-03-13 19:37:16.273471,2025-03-13 19:37:16.273471
18,21,deloise@altenwerth.example,44115503900622,"Dias, Cust√≥dio e Corr√™a",Empresa Santana LTDA Ltda.,126343329,(43) 3507-5410,buyer,2025-03-13 19:37:16.306564,2025-03-13 19:37:16.306564
19,22,stefan_gislason@schaden.test,53362642585263,Freitas-Moura,Empresa Porteira-Munhoz Ltda.,355573635,(65) 8097-6142,buyer,2025-03-13 19:37:16.346168,2025-03-13 19:37:16.346168
20,23,marinda.runolfsdottir@mcglynn.test,94303258226953,Oliveira Com√©rcio,Empresa Mendanha-Morais Ltda.,923722433,(45) 3950-7979,buyer,2025-03-13 19:37:16.359878,2025-03-13 19:37:16.359878
21,24,jannette_towne@boehm.example,73651526107942,Pinto-Goulart,Empresa Ferreira Com√©rcio Ltda.,768132019,(93) 5471-1775,buyer,2025-03-13 19:37:16.379351,2025-03-13 19:37:16.379351
22,25,zachery_bailey@gottlieb-parker.example,55116320975117,Hermingues LTDA,Empresa Espinhosa e Associados Ltda.,643497415,(88) 8907-9002,buyer,2025-03-13 19:37:16.393507,2025-03-13 19:37:16.393507
23,26,deshawn@thiel-morissette.test,69214768007529,"da Luz, Taveira e Teles",Empresa Geraldes-R√™go Ltda.,197110593,(38) 3757-9380,supplier,2025-03-13 19:37:16.422285,2025-03-13 19:37:16.422285
24,27,sylvia_langworth@bernhard-cronin.test,33082137014546,"Ramalho, Grotas e Dias","Empresa Meira, Caseira e Bou√ßas Ltda.",415114370,(33) 4747-6626,supplier,2025-03-13 19:37:16.441797,2025-03-13 19:37:16.441797
25,28,otis.strosin@connelly.test,46288161305621,Guedes S.A.,"Empresa Moniz, Ramos e Viana Ltda.",381449288,(14) 6825-9658,buyer,2025-03-13 19:37:16.459688,2025-03-13 19:37:16.459688
26,29,lara_schroeder@breitenberg.example,63626382210244,"da Silva, Amoreira e Vasques",Empresa Filgueira LTDA Ltda.,574178756,(74) 2487-2792,buyer,2025-03-13 19:37:16.473372,2025-03-13 19:37:16.473372
27,30,zachariah_jakubowski@marks-jast.example,10201725855639,Camacho Com√©rcio,Empresa da Mota-Negr√£o Ltda.,144743389,(11) 8052-2599,supplier,2025-03-13 19:37:16.490237,2025-03-13 19:37:16.490237
28,31,genia@mraz-macejkovic.test,98829970595818,"Cabreira, Parreira e da Madureira","Empresa Silveira, Brites e Banheira Ltda.",700535991,(87) 9135-7003,supplier,2025-03-13 19:37:16.512689,2025-03-13 19:37:16.512689
29,32,joan_smitham@gibson-maggio.example,30699656282466,da Rocha-Beltr√£o,Empresa Amoreira Com√©rcio Ltda.,782899600,(84) 1923-7323,buyer,2025-03-13 19:37:16.526384,2025-03-13 19:37:16.526384
30,33,max_willms@bergstrom.example,89654539525437,Laranjeira-Sales,"Empresa Pinto, Pereira e Santos Ltda.",841489012,(51) 2641-3452,supplier,2025-03-13 19:37:16.539028,2025-03-13 19:37:16.539028
31,34,quinn@stracke.test,25443528509280,"da Barra, Santana e Quaresma","Empresa Soares, Rocha e Ordonhes Ltda.",674145543,(54) 1693-3359,buyer,2025-03-13 19:37:16.568447,2025-03-13 19:37:16.568447
32,35,delois_medhurst@ratke.example,35941624790394,Mendanha LTDA,"Empresa Nunes, Veloso e Palmeira Ltda.",603006867,(45) 9485-7792,supplier,2025-03-13 19:37:16.589010,2025-03-13 19:37:16.589010
33,36,gil@donnelly-ernser.example,51223459547141,Tavares-Carneiro,Empresa Cabreira e Associados Ltda.,483455825,(37) 8694-6723,buyer,2025-03-13 19:37:16.626083,2025-03-13 19:37:16.626083
34,37,edyth@mann-trantow.example,63467287860484,de Lara Com√©rcio,Empresa Paes-Santana Ltda.,641970335,(61) 9115-9693,supplier,2025-03-13 19:37:16.638501,2025-03-13 19:37:16.638501
35,38,angelic.hartmann@jones.test,16395571013879,Siqueira-Camacho,"Empresa Barroso, da Silva e Sim√£o Ltda.",554269343,(31) 4132-8686,supplier,2025-03-13 19:37:16.650292,2025-03-13 19:37:16.650292
36,39,kendall.aufderhar@bins-windler.test,15432033128371,Leiria e Associados,Empresa Almeida EIRELI Ltda.,335710412,(65) 4782-8131,buyer,2025-03-13 19:37:16.662672,2025-03-13 19:37:16.662672
37,40,malvina@rohan.test,16022428496576,Figueira-Cruz,"Empresa Macieira, Lopes e Novaes Ltda.",953775926,(97) 7569-8909,buyer,2025-03-13 19:37:16.675627,2025-03-13 19:37:16.675627
38,41,leopoldo@strosin.example,74209354305279,"Lobos, Vidal e Corte",Empresa Souza-Goulart Ltda.,910049746,(96) 1365-3958,buyer,2025-03-13 19:37:16.688184,2025-03-13 19:37:16.688184
39,42,cleveland@hoeger.example,51555450183483,Resende LTDA,Empresa Ara√∫jo-Gentil Ltda.,592767086,(62) 2298-5268,supplier,2025-03-13 19:37:16.699785,2025-03-13 19:37:16.699785
40,43,rosaura_auer@stehr.example,19924481549223,"Rezende, Quarteira e Almada",Empresa Pinto Com√©rcio Ltda.,804851510,(75) 1381-7879,buyer,2025-03-13 19:37:16.711011,2025-03-13 19:37:16.711011
41,44,marquita@robel.example,52322087758268,Novaes-Neves,Empresa Silva-Roseira Ltda.,322529403,(31) 4691-7116,supplier,2025-03-13 19:37:16.722654,2025-03-13 19:37:16.722654
42,1,zoraida.blanda@trantow-von.example,48547694190737,da Luz-da Concei√ß√£o,Empresa Jaques-Limeira Ltda.,761745557,(96) 6627-2329,supplier,2025-03-13 19:37:15.962963,2025-04-13 05:02:49.791043
43,45,mozell_schmidt@rosenbaum.example,54856452543992,Carvalheira-Chaves,Empresa Apar√≠cio-Palmeira Ltda.,310719427,(97) 4590-9644,supplier,2025-03-13 19:37:16.743519,2025-03-13 19:37:16.743519
44,46,julio@bosco.test,12364068052517,"Cardoso, Brum e Silveira",Empresa Ribeira EIRELI Ltda.,105545506,(16) 2620-5968,supplier,2025-03-13 19:37:16.758713,2025-03-13 19:37:16.758713
45,47,dale@bernier.example,24754825302563,Fontes-Peixoto,"Empresa da Luz, Barreto e Gon√ßalves Ltda.",741794186,(54) 5892-1982,supplier,2025-03-13 19:37:16.771905,2025-03-13 19:37:16.771905
46,48,karey_stiedemann@tillman.example,25622150585931,Ornelas-Castro,Empresa Viveiros LTDA Ltda.,683588564,(88) 9083-9303,supplier,2025-03-13 19:37:16.783840,2025-03-13 19:37:16.783840
47,49,dorie@cummings.test,74035774842658,Ribas-Soares,Empresa Carneiro S.A. Ltda.,475506047,(77) 6695-5480,supplier,2025-03-13 19:37:16.795799,2025-03-13 19:37:16.795799
48,50,imogene.weimann@dibbert.example,62695702461066,"Rolim, Siqueiro e Espinhosa",Empresa Longuinho-Xavier Ltda.,185399201,(42) 2355-9036,supplier,2025-03-13 19:37:16.807783,2025-03-13 19:37:16.807783
49,2,reggie.langosh@reilly.test,53936215958058,Bentes EIRELI,Empresa Ornelas Com√©rcio Ltda.,607891156,(82) 9751-2480,buyer,2025-03-13 19:37:15.976534,2025-04-09 15:03:08.073717
50,51,kfmfhvodm@gmsidsl.com,88545112000107,Fornecedor homolog te,Ryvs teste,345423123,(88) 98989-6636,supplier,2025-04-15 18:06:06.792065,2025-04-15 18:06:06.792065
51,58,lisboamab@gmail.com,55126675000173,lisboa,lisboa ltda,0,(85) 99134-3471,buyer,2025-04-16 06:46:39.597142,2025-04-16 06:46:39.597142
52,59,contato.marcolisboa@gmail.com,63564654000168,liboa2,testete ltda,0,(85) 99844-7134,buyer,2025-04-16 19:15:51.886828,2025-04-16 19:15:51.886828
53,60,ryvane@gmail.com,83451600107356,Ryvane compradora,loja compradora daa ryvane,41161467,(85) 98616-9299,buyer,2025-04-16 20:33:38.093125,2025-04-18 01:03:11.526637
54,61,robervalsampaiors@gmail.com,1963943000182,Neval Alimentos LTDA,Neval Alimentos,64105199,(85) 99819-5900,buyer,2025-04-18 00:58:56.169681,2025-04-18 01:04:38.600003
55,62,Robervalsampaio@compreup.com.br,58111247000165,JMR DISTRIBUIDORA E LOGISTICA,JMR,0,(85) 99819-5900,supplier,2025-04-18 01:09:42.482794,2025-04-18 01:20:42.378950
56,63,jacyanadias3@gmail.com,7200181000149,cheppitos,cheppitos,0,(85) 99819-5900,buyer,2025-04-18 12:51:00.352686,2025-04-18 12:51:00.352686
57,64,robervalsampaio@compreup.com,64904295001509,CAMIL ALIMENTOS S/A,CAMIL ALIMENTOS S/A,0,(85) 99999-9999,supplier,2025-04-25 00:17:30.263161,2025-04-25 00:17:30.263161
58,65,deana6631@uorak.com,1963300018233,teste temporario,tempor porteram,41133343,(88) 88888-8965,buyer,2025-04-25 17:39:44.467269,2025-04-25 17:39:44.467269

DataFrame: active_storage_attachments

,id,name,record_type,record_id,blob_id,created_at
0,1,image,ProductImage,1,1,2025-04-04 18:04:43.707950
1,2,image,ProductImage,2,2,2025-04-04 18:25:20.373892
2,3,image,ProductImage,3,3,2025-04-04 18:26:02.744368
3,4,image,ProductImage,4,4,2025-04-04 18:50:23.263342
4,5,image,ProductImage,5,5,2025-04-07 11:34:39.547267
5,8,company_logo,Company,2,8,2025-04-09 15:03:07.969734
6,9,company_logo,Company,1,9,2025-04-13 05:02:49.564838
7,10,company_logo,Company,60,10,2025-04-18 01:03:11.369574
8,11,company_logo,Company,61,11,2025-04-18 01:04:38.552462
9,12,company_logo,Company,62,12,2025-04-18 01:20:42.088485

DataFrame: active_storage_variant_records

Empty DataFrame
Columns: [id, blob_id, variation_digest]
Index: []

DataFrame: delivery_routes

,id,company_id,seller_id,minimum_order_value,state,city,anticipates_holidays,delivery_days,invoice_time_days,created_at,updated_at,delivery_type,delivery_day_type,phone_number
0,1,1,NaN,1708.00,RO,"['Marataizes', 'Aveiro', 'Serra do Navio', 'Ca...",True,"[17, 28, 31]",14,2024-07-14 09:36:17.111634,2025-03-13 19:37:17.389239,fob,month_days,NaN
1,2,1,NaN,1697.00,AC,"['Salitre', 'Conde', 'Jundi√°', 'Coronel Pilar']",False,"[4, 10, 24]",20,2024-06-27 05:17:15.602750,2025-03-13 19:37:17.397264,fob,month_days,NaN
2,3,1,NaN,1114.00,RO,"['Candel√°ria', 'Dom Bosco', 'Jeriquara']",True,"[2, 4, 7]",23,2024-06-25 00:02:39.422759,2025-03-13 19:37:17.405100,fob,week_days,NaN
3,4,1,NaN,1164.00,SP,"['Taquari', 'Rio Branco', 'Senador Firmino']",False,"[2, 3, 7]",20,2024-08-22 04:23:54.519558,2025-03-13 19:37:17.412962,fob,week_days,NaN
4,5,5,NaN,112.00,PR,"['Meridiano', 'Altamira']",False,"[6, 8, 11]",16,2024-08-04 06:02:05.211207,2025-03-13 19:37:17.420386,fob,month_days,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,133,62,NaN,1500.00,BA,['Feira de Santana'],True,[6],2,2025-04-18 01:17:08.080541,2025-04-18 01:17:08.080541,cif,month_days,NaN
130,134,62,NaN,800.00,CE,['Aratuba'],True,"[3, 7]",2,2025-04-18 01:17:37.250592,2025-04-18 01:17:37.250592,cif,week_days,NaN
131,131,1,4.0,2.00,ES,['Brejetuba'],False,"[3, 6]",0,2025-04-18 01:15:00.276453,2025-04-22 13:30:13.199340,fob,week_days,NaN
132,129,1,2.0,0.01,CE,"['Aquiraz', 'Baixio', 'Fortaleza']",False,"[1, 2, 3, 4, 5, 6, 7]",0,2025-04-16 21:24:39.325504,2025-04-25 16:49:34.789773,fob,week_days,NaN
133,122,1,4.0,10.00,CE,"['Aquiraz', 'Eusebio']",True,"[2, 4, 6, 1, 16, 30]",0,2025-04-03 17:58:06.741335,2025-04-25 18:41:26.335424,fob,month_days,NaN

DataFrame: user_roles

,id,user_id,role_id,company_id,created_at,updated_at
0,1,1,4,2,2025-03-13 19:37:20.546004,2025-03-13 19:37:20.546004
1,2,2,1,1,2025-03-13 19:37:20.905314,2025-03-13 19:37:20.905314
2,3,3,1,1,2025-03-13 19:37:21.263877,2025-03-13 19:37:21.263877
3,4,4,2,1,2025-03-13 19:37:21.647874,2025-03-13 19:37:21.647874
4,5,5,3,1,2025-03-13 19:37:21.989903,2025-03-13 19:37:21.989903
...,...,...,...,...,...,...
155,157,158,155,61,2025-04-18 00:58:56.464699,2025-04-18 00:58:56.464699
156,158,159,156,62,2025-04-18 01:09:42.746053,2025-04-18 01:09:42.746053
157,159,160,157,63,2025-04-18 12:51:00.668523,2025-04-18 12:51:00.668523
158,160,161,158,64,2025-04-25 00:17:30.529328,2025-04-25 00:17:30.529328
159,161,162,159,65,2025-04-25 17:39:44.758560,2025-04-25 17:39:44.758560

DataFrame: tags_group

Empty DataFrame
Columns: [id, father_id, name, created_at, updated_at]
Index: []

DataFrame: products_approval

,id,bar_code,unit_of_measurement_id,name,current_status,created_at,updated_at,description,company_id
0,1,8949461894984,5,Ovos brancos G,approved,2025-03-21 18:54:36.187973,2025-03-21 19:08:26.470473,NaN,1
1,2,8949461890004,9,Ovos brancos G,approved,2025-03-21 18:58:56.643511,2025-03-21 19:11:30.286797,NaN,1
2,3,8943333894984,3,peito de frango,approved,2025-03-21 19:08:46.367874,2025-03-21 19:15:26.399833,NaN,1
3,7,7896132404112,11,CARNE BOV S/OSSO RESF PICANHA SIMP,pending,2025-04-04 13:17:55.861281,2025-04-04 13:17:55.861281,NaN,1
4,8,7896132404020,12,CARNE BOV S/OSSO CRY-PATINHO,pending,2025-04-04 13:17:55.934801,2025-04-04 13:17:55.934801,NaN,1
5,9,7896132404037,12,CARNE BOV S/OSSO CRY-COXAO DURO,pending,2025-04-04 13:17:55.967224,2025-04-04 13:17:55.967224,NaN,1
6,10,7896132404075,13,CARNE BOV S/OSSO CRY-LAGARTO,pending,2025-04-04 13:17:55.998030,2025-04-04 13:17:55.998030,NaN,1
7,11,7896132404044,14,CARNE BOV S/OSSO CRY-COXAO MOLE,pending,2025-04-04 13:17:56.046361,2025-04-04 13:17:56.046361,NaN,1
8,12,7896132440684,15,CARNE BOV S/OSSO CRY-ALCATRA C/ MAMINHA,pending,2025-04-04 13:17:56.094055,2025-04-04 13:17:56.094055,NaN,1
9,13,7896132404129,11,CARNE BOV S/OSSO CRY MAMINHA DA ALCATRA,pending,2025-04-04 13:17:56.131428,2025-04-04 13:17:56.131428,NaN,1
10,14,7896132404143,11,CARNE BOV S/OSSO CRY-MUSCULO MOLE,pending,2025-04-04 13:17:56.167754,2025-04-04 13:17:56.167754,NaN,1
11,15,7896132404099,16,CARNE BOV S/OSSO CRY-FRALDA,pending,2025-04-04 13:17:56.201566,2025-04-04 13:17:56.201566,NaN,1
12,16,7896132404105,17,CARNE BOV S/OSSO-CAPA CONTRAFILE,pending,2025-04-04 13:17:56.241915,2025-04-04 13:17:56.241915,NaN,1
13,17,7896132404532,12,CARNE BOV S/OSSO CRY-CUPIM,pending,2025-04-04 13:17:56.270826,2025-04-04 13:17:56.270826,NaN,1
14,18,7896132403160,12,MIUDOS CONG DE BOVINO - BUCHO,pending,2025-04-04 13:17:56.301688,2025-04-04 13:17:56.301688,NaN,1
15,19,7896132403214,12,MIUDOS CONG DE BOVINO - FIGADO,pending,2025-04-04 13:17:56.342486,2025-04-04 13:17:56.342486,NaN,1
16,20,7896132403221,16,MIUDOS CONG DE BOVINO - CORACAO,pending,2025-04-04 13:17:56.391540,2025-04-04 13:17:56.391540,NaN,1
17,21,7896132403931,12,CARNE CONG BOVINO S/OSSO ( LOMBINHO ),pending,2025-04-04 13:17:56.433403,2025-04-04 13:17:56.433403,NaN,1
18,22,7896132403948,18,OSSOS CONG DE BOV-ROTULA DO PATINHO,pending,2025-04-04 13:17:56.505877,2025-04-04 13:17:56.505877,NaN,1
19,23,7896132404624,13,RECORTE DE ALCATRA BOV CONG (ARANHA),pending,2025-04-04 13:17:56.558943,2025-04-04 13:17:56.558943,NaN,1
20,24,7896132404631,16,RECORTE DE CONTRAFILE BOV CONG (BANANINHA),pending,2025-04-04 13:17:56.596004,2025-04-04 13:17:56.596004,NaN,1
21,25,7896132404648,16,RECORTE DE FILE MIGNON BOV CONG (CORDAO),pending,2025-04-04 13:17:56.638205,2025-04-04 13:17:56.638205,NaN,1
22,26,7896132404662,13,CARNE CONG BOV S/OSSO ( DIAFRAGMA ),pending,2025-04-04 13:17:56.668293,2025-04-04 13:17:56.668293,NaN,1
23,27,7896132404259,11,CARNE BOV S/OSSO CONG PICANHA SIMP,pending,2025-04-04 13:17:56.700637,2025-04-04 13:17:56.700637,NaN,1
24,28,7896132404198,16,CARNE BOV S/OSSO CONG FRALDA,pending,2025-04-04 13:17:56.745878,2025-04-04 13:17:56.745878,NaN,1
25,29,8949000000084,2,Embalagem grande,pending,2025-04-07 12:46:15.021956,2025-04-07 12:46:15.021956,NaN,1
26,30,89494610000000,7,ovos vermelhos,pending,2025-04-09 20:10:27.276991,2025-04-09 20:10:27.276991,NaN,1
27,31,4848484848484848,19,Refrigerante coca cola,pending,2025-04-17 17:26:37.675055,2025-04-17 17:26:37.675055,NaN,1
28,36,17891515971592,24,FIL√â DE PEITO SASSAMI (FIL√âZINHO),approved,2025-04-18 01:33:05.592874,2025-04-18 03:13:51.691174,NaN,62
29,35,7897791200305,23,FIL√â DE PEITO DE FRANGO KG,approved,2025-04-18 01:31:33.518794,2025-04-18 03:13:59.570744,NaN,62
30,34,7898312041254,22,COXA E SOBRECOXA DE FRANGO BDJ,approved,2025-04-18 01:30:18.542810,2025-04-18 03:14:03.803262,NaN,62
31,33,7898208481225,21,COXA C/ SOBRE COXA DE FRANGO C/DORSO,approved,2025-04-18 01:23:31.797691,2025-04-18 03:14:09.161417,NaN,62
32,32,7896466621353,20,Leite longa vida Lirio integral,approved,2025-04-18 01:14:57.560058,2025-04-18 03:14:17.251649,NaN,62
33,37,123124124123,25,qweqw,pending,2025-04-22 14:10:45.325941,2025-04-22 14:10:45.325941,NaN,1
34,38,8949461023121,26,Refrigerante coca cola,approved,2025-04-22 14:12:01.973293,2025-04-22 14:13:11.512511,NaN,1
35,4,7898964756049,3,Gordura de Palma Marborges 15kg,approved,2025-04-02 18:07:50.646230,2025-04-23 16:15:25.488161,NaN,1
36,5,7896010006360,5,CONHAQUE DE GENGIBRE DREHER GARRAFA 900ML,approved,2025-04-03 01:38:06.688553,2025-04-23 16:15:55.160556,NaN,2
37,6,7896002305013,8,P√ÉO BISNAGUITO PLUSVITA 300G,approved,2025-04-03 16:37:28.857681,2025-04-23 16:17:02.117938,NaN,1
38,39,1111111111111,27,TESTE,approved,2025-04-22 17:02:37.578869,2025-04-25 14:20:29.426602,NaN,1
39,41,7896259412571,29,leite em po 1kg,approved,2025-04-25 00:21:10.922208,2025-04-25 14:20:43.901660,NaN,62
40,40,7896342413089,28,file de peito de frango,approved,2025-04-23 17:17:23.727255,2025-04-25 14:20:50.399864,NaN,1
41,42,1234567897894562123,30,carne moida patinho,approved,2025-04-25 16:48:02.730056,2025-04-25 16:48:41.541036,NaN,1

DataFrame: company_settings

,id,company_id,auto_approve,enable_notifications,required_documents,created_at,updated_at
0,2,2,True,True,"{'outros': True, 'boletos_pagos': True, 'notas...",2025-04-02 15:09:30.598720,2025-04-11 00:46:33.996285
1,3,60,True,True,"{'outros': True, 'boletos_pagos': True, 'notas...",2025-04-18 01:05:59.674076,2025-04-18 01:06:30.123871
2,1,1,False,False,"{'outros': True, 'boletos_pagos': True, 'notas...",2025-03-20 19:23:32.142959,2025-04-23 17:23:48.242611

DataFrame: ar_internal_metadata

,key,value,created_at,updated_at
0,environment,development,2025-03-13 19:37:06.453760,2025-03-13 19:37:06.453764
1,schema_sha1,b96bee2cae520181cfa47c8fb8006928e4cc8c60,2025-03-13 19:37:06.463589,2025-03-13 19:37:06.463592

DataFrame: order_products

,id,order_id,supplier_product_id,price_id,price_value,price_date,created_at,updated_at,quantity,total_price,delivery_date
0,1,1,32,94,17000.0,2025-03-13 19:38:14.202006,2025-03-14 13:45:20.420424,2025-03-14 13:45:20.420424,2,34000.0,NaN
1,2,2,25,73,22200.0,2025-03-13 19:38:13.792605,2025-03-14 13:45:20.445680,2025-03-14 13:45:20.445680,1,22200.0,NaN
2,3,3,20,58,29600.0,2025-03-13 19:38:13.517049,2025-03-14 13:45:20.474896,2025-03-14 13:45:20.474896,1,29600.0,NaN
3,4,4,11,31,62000.0,2025-03-13 19:38:12.985186,2025-03-20 18:46:02.072559,2025-03-20 18:46:02.072559,3,186000.0,NaN
4,5,5,54,153,1200.0,2025-03-21 19:41:45.954263,2025-03-24 18:32:31.613840,2025-03-24 18:32:31.613840,2,2400.0,NaN
5,6,5,60,151,2300.0,2025-03-21 19:26:08.613378,2025-03-24 18:32:31.652455,2025-03-24 18:32:31.652455,3,6900.0,NaN
6,7,6,54,153,1200.0,2025-03-21 19:41:45.954263,2025-03-24 18:33:41.286418,2025-03-24 18:33:41.286418,4,4800.0,NaN
7,8,7,60,151,2300.0,2025-03-21 19:26:08.613378,2025-03-24 18:42:41.080234,2025-03-24 18:42:41.080234,2,4600.0,NaN
8,9,8,60,151,2300.0,2025-03-21 19:26:08.613378,2025-03-24 18:45:25.211878,2025-03-24 18:45:25.211878,2,4600.0,NaN
9,10,9,60,151,2300.0,2025-03-21 19:26:08.613378,2025-03-24 18:56:53.356118,2025-03-24 18:56:53.356118,4,9200.0,NaN
10,11,10,51,152,1600.0,2025-03-21 19:39:58.953486,2025-03-24 18:59:57.932517,2025-03-24 18:59:57.932517,2,3200.0,NaN
11,12,11,51,152,1600.0,2025-03-21 19:39:58.953486,2025-03-24 19:00:57.154136,2025-03-24 19:00:57.154136,2,3200.0,NaN
12,13,12,51,152,1600.0,2025-03-21 19:39:58.953486,2025-03-24 19:02:01.972915,2025-03-24 19:02:01.972915,2,3200.0,NaN
13,14,13,60,151,2300.0,2025-03-21 19:26:08.613378,2025-03-24 19:05:56.499385,2025-03-24 19:05:56.499385,2,4600.0,NaN
14,15,14,51,152,1600.0,2025-03-21 19:39:58.953486,2025-03-25 16:36:32.163666,2025-03-25 16:36:32.163666,2,3200.0,NaN
15,16,15,60,151,2300.0,2025-03-21 19:26:08.613378,2025-03-31 14:22:56.339598,2025-03-31 14:22:56.339598,5,11500.0,NaN
16,17,15,54,153,1200.0,2025-03-21 19:41:45.954263,2025-03-31 14:22:56.383067,2025-03-31 14:22:56.383067,4,4800.0,NaN
17,18,16,60,151,2300.0,2025-03-21 19:26:08.613378,2025-04-01 13:36:39.494313,2025-04-01 13:36:39.494313,4,9200.0,NaN
18,19,16,51,152,1600.0,2025-03-21 19:39:58.953486,2025-04-01 13:36:39.547723,2025-04-01 13:36:39.547723,2,3200.0,NaN
19,20,17,60,151,2200.0,2025-03-21 19:26:08.613378,2025-04-01 13:39:40.381882,2025-04-01 13:39:40.381882,3,6600.0,NaN
20,21,18,51,152,1550.0,2025-03-21 19:39:58.953486,2025-04-01 13:43:58.722285,2025-04-01 13:43:58.722285,2,3100.0,NaN
21,22,19,54,153,1200.0,2025-03-21 19:41:45.954263,2025-04-01 15:44:47.143854,2025-04-01 15:44:47.143854,3,3600.0,NaN
22,23,20,51,152,1550.0,2025-03-21 19:39:58.953486,2025-04-02 01:05:22.769255,2025-04-02 01:05:22.769255,1,1550.0,NaN
23,24,21,51,152,1550.0,2025-03-21 19:39:58.953486,2025-04-02 12:48:35.650675,2025-04-02 12:48:35.650675,2,3100.0,NaN
24,25,22,51,152,1550.0,2025-03-21 19:39:58.953486,2025-04-02 12:50:47.010873,2025-04-02 12:50:47.010873,2,3100.0,NaN
25,26,23,54,153,1200.0,2025-03-21 19:41:45.954263,2025-04-02 16:21:10.546117,2025-04-02 16:21:10.546117,1,1200.0,NaN
26,27,24,51,152,1550.0,2025-03-21 19:39:58.953486,2025-04-04 22:00:26.569412,2025-04-04 22:00:26.569412,2,3100.0,NaN
27,28,25,51,152,1550.0,2025-03-21 19:39:58.953486,2025-04-09 19:09:58.133263,2025-04-09 19:09:58.133263,3,4650.0,NaN
28,29,26,54,153,1200.0,2025-03-21 19:41:45.954263,2025-04-10 13:25:17.126844,2025-04-10 13:25:17.126844,5,6000.0,NaN
29,30,27,51,152,1550.0,2025-03-21 19:39:58.953486,2025-04-10 23:55:51.925149,2025-04-10 23:55:51.925149,25,38750.0,NaN
30,31,27,54,153,1200.0,2025-03-21 19:41:45.954263,2025-04-10 23:55:51.946742,2025-04-10 23:55:51.946742,4,4800.0,NaN
31,32,28,60,151,2200.0,2025-03-21 19:26:08.613378,2025-04-11 18:51:48.956080,2025-04-11 18:51:48.956080,3,6600.0,NaN
32,33,29,51,152,1550.0,2025-03-21 19:39:58.953486,2025-04-17 17:46:28.789023,2025-04-17 17:46:28.789023,3,4650.0,NaN
33,34,30,51,152,1550.0,2025-03-21 19:39:58.953486,2025-04-17 17:59:32.681947,2025-04-17 17:59:32.681947,100,155000.0,NaN
34,35,31,60,151,2200.0,2025-03-21 19:26:08.613378,2025-04-18 01:07:17.520476,2025-04-18 01:07:17.520476,1,2200.0,NaN
35,36,32,65,164,3.0,2025-04-18 03:14:17.278822,2025-04-22 12:22:44.588195,2025-04-22 12:22:44.588195,2,6.0,NaN
36,37,32,64,163,15.0,2025-04-18 03:14:09.186862,2025-04-22 12:22:44.601681,2025-04-22 12:22:44.601681,2,30.0,NaN
37,38,33,66,167,32.0,2025-04-22 14:13:11.540546,2025-04-22 17:05:21.789376,2025-04-22 17:05:21.789376,4,128.0,NaN
38,39,34,66,167,32.0,2025-04-22 14:13:11.540546,2025-04-23 13:06:39.780201,2025-04-23 13:06:39.780201,3,96.0,NaN
39,40,35,66,167,32.0,2025-04-22 14:13:11.540546,2025-04-23 13:20:03.949040,2025-04-23 13:20:03.949040,2,64.0,NaN
40,41,36,66,167,32.0,2025-04-22 14:13:11.540546,2025-04-23 16:54:47.779391,2025-04-23 16:54:47.779391,4,128.0,NaN
41,42,37,66,167,32.0,2025-04-22 14:13:11.540546,2025-04-23 21:22:37.396664,2025-04-23 21:22:37.396664,3,96.0,NaN
42,43,38,66,167,32.0,2025-04-22 14:13:11.540546,2025-04-25 14:11:09.980509,2025-04-25 14:11:09.980509,2,64.0,NaN
43,44,39,74,182,60.0,2025-04-25 16:48:41.569368,2025-04-25 17:14:53.288351,2025-04-25 17:14:53.288351,4,240.0,NaN
44,45,40,74,182,60.0,2025-04-25 16:48:41.569368,2025-04-25 18:18:33.184166,2025-04-25 18:18:33.184166,3,180.0,NaN
45,46,41,66,167,32.0,2025-04-22 14:13:11.540546,2025-04-27 00:13:13.106179,2025-04-27 00:13:13.106179,2,64.0,NaN
46,47,42,73,180,21.0,2025-04-25 14:20:50.427434,2025-04-27 00:13:53.503864,2025-04-27 00:13:53.503864,2,42.0,NaN
47,48,43,3,10,34800.0,2025-03-13 19:38:12.574282,2025-04-28 17:21:23.917922,2025-04-28 17:21:23.917922,2,69600.0,NaN
48,49,43,7,14,83980.0,2025-03-13 19:38:12.642083,2025-04-28 17:21:23.932692,2025-04-28 17:21:23.932692,3,251940.0,NaN
49,50,43,6,13,99900.0,2025-03-13 19:38:12.627452,2025-04-28 17:21:23.946423,2025-04-28 17:21:23.946423,1,99900.0,NaN
50,51,44,3,10,34800.0,2025-03-13 19:38:12.574282,2025-04-28 17:48:40.564951,2025-04-28 17:48:40.564951,3,104400.0,NaN
51,52,44,4,11,25334.0,2025-03-13 19:38:12.597154,2025-04-28 17:48:40.579898,2025-04-28 17:48:40.579898,3,76002.0,NaN
52,53,45,66,167,32.0,2025-04-22 14:13:11.540546,2025-04-28 18:28:46.197967,2025-04-28 18:28:46.197967,1,32.0,NaN
53,54,45,71,178,10.0,2025-04-25 14:20:29.456066,2025-04-28 18:28:46.615769,2025-04-28 18:28:46.615769,1,10.0,NaN
54,55,47,71,178,10.0,2025-04-25 14:20:29.456066,2025-04-28 19:14:49.018370,2025-04-28 19:14:49.018370,2,20.0,2025-04-29
55,56,48,71,178,10.0,2025-04-25 14:20:29.456066,2025-04-28 19:16:46.009328,2025-04-28 19:16:46.009328,2,20.0,2025-04-29

DataFrame: supplier_products

,id,product_id,created_at,updated_at,company_id,product_approval_id
0,1,7,2025-03-13 19:38:12.338156,2025-03-13 19:38:12.338156,33,NaN
1,2,11,2025-03-13 19:38:12.440856,2025-03-13 19:38:12.440856,34,NaN
2,3,31,2025-03-13 19:38:12.499612,2025-03-13 19:38:12.499612,26,NaN
3,4,24,2025-03-13 19:38:12.566756,2025-03-13 19:38:12.566756,38,NaN
4,5,2,2025-03-13 19:38:12.619994,2025-03-13 19:38:12.619994,18,NaN
...,...,...,...,...,...,...
59,70,70,2025-04-23 21:27:30.211815,2025-04-23 21:27:30.211815,62,NaN
60,71,71,2025-04-25 14:20:29.448126,2025-04-25 14:20:29.448126,1,NaN
61,72,72,2025-04-25 14:20:43.921540,2025-04-25 14:20:43.921540,62,NaN
62,73,73,2025-04-25 14:20:50.420863,2025-04-25 14:20:50.420863,1,NaN
63,74,74,2025-04-25 16:48:41.560288,2025-04-25 16:48:41.560288,1,NaN

DataFrame: units_of_measurement

,id,amount,unit_id,packaging_id,created_at,updated_at
0,1,7.0,5,4,2025-03-13 19:38:11.598914,2025-03-13 19:38:11.598914
1,2,3.0,2,2,2025-03-13 19:38:11.606990,2025-03-13 19:38:11.606990
2,3,7.0,3,3,2025-03-13 19:38:11.614862,2025-03-13 19:38:11.614862
3,4,10.0,2,4,2025-03-13 19:38:11.622212,2025-03-13 19:38:11.622212
4,5,2.0,5,1,2025-03-13 19:38:11.629538,2025-03-13 19:38:11.629538
5,6,5.0,2,2,2025-03-13 19:38:11.637292,2025-03-13 19:38:11.637292
6,7,10.0,2,1,2025-03-13 19:38:11.646492,2025-03-13 19:38:11.646492
7,8,9.0,1,3,2025-03-13 19:38:11.653637,2025-03-13 19:38:11.653637
8,9,1.0,3,4,2025-03-13 19:38:11.666694,2025-03-13 19:38:11.666694
9,10,10.0,2,2,2025-03-13 19:38:11.674041,2025-03-13 19:38:11.674041
10,11,20.0,6,1,2025-04-04 13:17:55.799324,2025-04-04 13:17:55.799324
11,12,6.0,6,1,2025-04-04 13:17:55.921885,2025-04-04 13:17:55.921885
12,13,10.0,6,1,2025-04-04 13:17:55.986946,2025-04-04 13:17:55.986946
13,14,3.0,6,1,2025-04-04 13:17:56.021842,2025-04-04 13:17:56.021842
14,15,5.0,6,1,2025-04-04 13:17:56.074776,2025-04-04 13:17:56.074776
15,16,15.0,6,1,2025-04-04 13:17:56.189495,2025-04-04 13:17:56.189495
16,17,18.0,6,1,2025-04-04 13:17:56.219750,2025-04-04 13:17:56.219750
17,18,14.0,6,1,2025-04-04 13:17:56.485311,2025-04-04 13:17:56.485311
18,19,12.0,3,3,2025-04-17 17:26:37.665328,2025-04-17 17:26:37.665328
19,20,12.0,3,1,2025-04-18 01:14:57.552335,2025-04-18 01:14:57.552335
20,21,20.0,1,1,2025-04-18 01:23:31.792193,2025-04-18 01:23:31.792193
21,22,18.0,1,1,2025-04-18 01:30:18.536922,2025-04-18 01:30:18.536922
22,23,18.0,1,1,2025-04-18 01:31:33.512630,2025-04-18 01:31:33.512630
23,24,12.0,1,1,2025-04-18 01:33:05.586743,2025-04-18 01:33:05.586743
24,25,12.0,2,2,2025-04-22 14:10:45.120650,2025-04-22 14:10:45.120650
25,26,12.0,3,3,2025-04-22 14:12:01.962169,2025-04-22 14:12:01.962169
26,27,12.0,6,1,2025-04-22 17:02:37.569393,2025-04-22 17:02:37.569393
27,28,20.0,1,1,2025-04-23 17:17:23.719269,2025-04-23 17:17:23.719269
28,29,1.0,1,4,2025-04-25 00:21:10.914102,2025-04-25 00:21:10.914102
29,30,15.0,1,2,2025-04-25 16:48:02.723471,2025-04-25 16:48:02.723471

DataFrame: orders

,id,company_id,user_id,order_value,order_date,created_at,updated_at,status,supplier_company_id,subsidiary_id,seller_id
0,1,2,1,34000.0,2025-03-14 13:45:20.376650,2025-03-14 13:45:20.399743,2025-03-14 13:45:20.399743,pending,43,NaN,NaN
1,2,2,1,22200.0,2025-03-14 13:45:20.428545,2025-03-14 13:45:20.436338,2025-03-14 13:45:20.436338,pending,12,NaN,NaN
2,3,2,1,29600.0,2025-03-14 13:45:20.453118,2025-03-14 13:45:20.465880,2025-03-14 13:45:20.465880,pending,6,NaN,NaN
3,4,2,1,186000.0,2025-03-20 18:46:02.027480,2025-03-20 18:46:02.051088,2025-03-20 18:46:02.051088,pending,31,NaN,NaN
4,5,2,1,9300.0,2025-03-24 18:32:31.539220,2025-03-24 18:32:31.572037,2025-03-24 18:32:31.572037,pending,1,NaN,NaN
5,6,2,1,4800.0,2025-03-24 18:33:41.263497,2025-03-24 18:33:41.273309,2025-03-24 18:33:41.273309,pending,1,NaN,NaN
6,7,2,1,4600.0,2025-03-24 18:42:39.277367,2025-03-24 18:42:40.113609,2025-03-24 18:42:40.113609,pending,1,NaN,NaN
7,8,2,1,4600.0,2025-03-24 18:45:23.488941,2025-03-24 18:45:24.299331,2025-03-24 18:45:24.299331,pending,1,NaN,NaN
8,9,2,1,9200.0,2025-03-24 18:56:51.578170,2025-03-24 18:56:52.412675,2025-03-24 18:56:52.412675,pending,1,NaN,NaN
9,10,2,1,3200.0,2025-03-24 18:59:56.155356,2025-03-24 18:59:56.989315,2025-03-24 18:59:56.989315,pending,1,NaN,NaN
10,11,2,1,3200.0,2025-03-24 19:00:55.581565,2025-03-24 19:00:56.314778,2025-03-24 19:00:56.314778,pending,1,NaN,NaN
11,12,2,1,3200.0,2025-03-24 19:02:00.390797,2025-03-24 19:02:01.130982,2025-03-24 19:02:01.130982,pending,1,NaN,NaN
12,13,2,1,4600.0,2025-03-24 19:05:54.919333,2025-03-24 19:05:55.657725,2025-03-24 19:05:55.657725,pending,1,NaN,NaN
13,14,2,1,3200.0,2025-03-25 16:36:32.127600,2025-03-25 16:36:32.139039,2025-03-25 16:36:32.139039,pending,1,NaN,NaN
14,15,2,1,16300.0,2025-03-31 14:22:56.261417,2025-03-31 14:22:56.301795,2025-03-31 14:22:56.301795,pending,1,NaN,NaN
15,16,2,1,12400.0,2025-04-01 13:36:39.453794,2025-04-01 13:36:39.469568,2025-04-01 13:36:39.469568,pending,1,NaN,NaN
16,17,2,1,6600.0,2025-04-01 13:39:40.347719,2025-04-01 13:39:40.362107,2025-04-01 13:39:40.362107,pending,1,NaN,NaN
17,18,2,1,3100.0,2025-04-01 13:43:58.666228,2025-04-01 13:43:58.691814,2025-04-01 13:43:58.691814,pending,1,NaN,NaN
18,19,2,1,3600.0,2025-04-01 15:44:47.113766,2025-04-01 15:44:47.129549,2025-04-01 15:44:47.129549,pending,1,NaN,NaN
19,20,2,1,1550.0,2025-04-02 01:05:22.734039,2025-04-02 01:05:22.750240,2025-04-02 01:05:22.750240,pending,1,NaN,NaN
20,21,2,1,3100.0,2025-04-02 12:48:35.617684,2025-04-02 12:48:35.635838,2025-04-02 12:48:35.635838,pending,1,NaN,NaN
21,43,3,3,120.0,2025-04-28 17:21:23.890311,2025-04-28 17:21:23.904317,2025-04-28 17:21:23.904317,pending,6,1.0,7.0
22,44,3,3,120.0,2025-04-28 17:48:40.537483,2025-04-28 17:48:40.551833,2025-04-28 17:48:40.551833,pending,6,1.0,7.0
23,45,2,6,42.0,2025-04-28 18:28:44.183082,2025-04-28 18:28:45.356483,2025-04-28 18:28:45.356483,pending,1,48.0,2.0
24,46,2,6,20.0,2025-04-28 19:12:37.579935,2025-04-28 19:12:38.810556,2025-04-28 19:12:38.810556,pending,1,48.0,2.0
25,47,2,6,20.0,2025-04-28 19:13:49.765534,2025-04-28 19:13:50.800240,2025-04-28 19:13:50.800240,pending,1,48.0,2.0
26,48,2,6,20.0,2025-04-28 19:16:39.318035,2025-04-28 19:16:39.944791,2025-04-28 19:16:39.944791,pending,1,48.0,2.0
27,32,60,157,36.0,2025-04-22 12:22:44.536206,2025-04-22 12:22:44.550196,2025-04-22 12:22:44.550196,pending,62,51.0,159.0
28,31,60,157,2200.0,2025-04-18 01:07:17.494313,2025-04-18 01:07:17.506813,2025-04-18 01:07:17.506813,approved,1,51.0,2.0
29,30,2,1,155000.0,2025-04-17 17:59:32.652927,2025-04-17 17:59:32.668294,2025-04-22 14:25:25.467642,approved,1,48.0,2.0
30,29,2,1,4650.0,2025-04-17 17:46:28.718200,2025-04-17 17:46:28.734339,2025-04-22 14:25:41.147174,approved,1,48.0,2.0
31,22,2,1,3100.0,2025-04-02 12:50:46.982488,2025-04-02 12:50:46.997158,2025-04-02 12:50:46.997158,pending,1,NaN,2.0
32,23,2,1,1200.0,2025-04-02 16:21:10.517653,2025-04-02 16:21:10.530790,2025-04-22 18:15:39.073478,pending,1,48.0,2.0
33,24,2,1,3100.0,2025-04-04 22:00:26.536038,2025-04-04 22:00:26.547703,2025-04-22 18:14:34.189623,pending,1,48.0,2.0
34,33,2,1,128.0,2025-04-22 17:05:21.761948,2025-04-22 17:05:21.776076,2025-04-22 18:17:03.562756,viewed,1,48.0,2.0
35,28,2,1,6600.0,2025-04-11 18:51:48.919114,2025-04-11 18:51:48.939557,2025-04-22 18:23:40.856281,viewed,1,48.0,2.0
36,27,2,1,43550.0,2025-04-10 23:55:51.878803,2025-04-10 23:55:51.905402,2025-04-22 18:24:08.706066,viewed,1,45.0,2.0
37,26,2,1,6000.0,2025-04-10 13:25:17.070289,2025-04-10 13:25:17.104500,2025-04-22 18:24:29.624405,viewed,1,45.0,2.0
38,25,2,1,4650.0,2025-04-09 19:09:58.037743,2025-04-09 19:09:58.079651,2025-04-23 01:15:40.264859,approved,1,44.0,2.0
39,37,2,1,96.0,2025-04-23 21:22:37.369530,2025-04-23 21:22:37.382375,2025-04-24 23:41:17.750737,viewed,1,48.0,2.0
40,35,2,1,64.0,2025-04-23 13:20:03.911787,2025-04-23 13:20:03.930146,2025-04-24 23:42:45.609187,approved,1,48.0,2.0
41,38,2,1,64.0,2025-04-25 14:11:09.758643,2025-04-25 14:11:09.952576,2025-04-25 14:15:43.134853,approved,1,48.0,2.0
42,36,2,1,128.0,2025-04-23 16:54:47.751159,2025-04-23 16:54:47.765347,2025-04-25 14:18:05.924731,approved,1,48.0,2.0
43,34,60,157,96.0,2025-04-23 13:06:39.724121,2025-04-23 13:06:39.741300,2025-04-25 14:18:19.463856,viewed,1,54.0,2.0
44,39,2,1,240.0,2025-04-25 17:14:53.254285,2025-04-25 17:14:53.270569,2025-04-25 17:17:11.897356,approved,1,48.0,2.0
45,40,2,1,180.0,2025-04-25 18:18:33.158763,2025-04-25 18:18:33.172064,2025-04-25 22:53:13.563377,viewed,1,48.0,2.0
46,41,2,1,64.0,2025-04-27 00:13:13.077945,2025-04-27 00:13:13.091268,2025-04-27 00:13:13.091268,pending,1,48.0,2.0
47,42,2,1,42.0,2025-04-27 00:13:53.481049,2025-04-27 00:13:53.491870,2025-04-27 01:01:49.370428,viewed,1,48.0,2.0

DataFrame: metrics

Empty DataFrame
Columns: [id, company_id, total_saving_value, timestamp, created_at, updated_at]
Index: []

DataFrame: tags

Empty DataFrame
Columns: [id, name, created_at, updated_at, tag_group_id]
Index: []

DataFrame: roles

,id,name,permissions,company_id,created_at,updated_at
0,1,admin,"{'can_manage_users': True, 'can_view_reports':...",1,2025-03-13 19:37:18.701753,2025-03-13 19:37:18.701753
1,2,manager,"{'can_manage_users': False, 'can_view_reports'...",1,2025-03-13 19:37:18.709627,2025-03-13 19:37:18.709627
2,3,employee,"{'can_manage_users': False, 'can_view_reports'...",1,2025-03-13 19:37:18.717309,2025-03-13 19:37:18.717309
3,4,admin,"{'can_manage_users': True, 'can_view_reports':...",2,2025-03-13 19:37:18.727768,2025-03-13 19:37:18.727768
4,5,manager,"{'can_manage_users': False, 'can_view_reports'...",2,2025-03-13 19:37:18.735407,2025-03-13 19:37:18.735407
...,...,...,...,...,...,...
153,155,Administrador,{'all_access': True},61,2025-04-18 00:58:56.458915,2025-04-18 00:58:56.458915
154,156,Administrador,{'all_access': True},62,2025-04-18 01:09:42.742317,2025-04-18 01:09:42.742317
155,157,Administrador,{'all_access': True},63,2025-04-18 12:51:00.662298,2025-04-18 12:51:00.662298
156,158,Administrador,{'all_access': True},64,2025-04-25 00:17:30.524383,2025-04-25 00:17:30.524383
157,159,Administrador,{'all_access': True},65,2025-04-25 17:39:44.753325,2025-04-25 17:39:44.753325

DataFrame: prices

,id,priceable_type,priceable_id,supplier_product_id,value,created_at,updated_at,expiration_date
0,1,SupplierProduct,1,1.0,72700,2025-03-13 19:38:12.370221,2025-03-13 19:38:12.370221,2025-03-15 19:38:12.349089
1,2,Discount,1,1.0,52355,2025-03-13 19:38:12.401468,2025-03-13 19:38:12.401468,2025-03-17 19:38:12.400786
2,3,SpecialPrice,1,1.0,59528,2025-03-13 19:38:12.433504,2025-03-13 19:38:12.433504,2025-03-21 19:38:12.432836
3,4,SupplierProduct,2,2.0,30300,2025-03-13 19:38:12.448917,2025-03-13 19:38:12.448917,2025-03-19 19:38:12.448181
4,5,Discount,2,2.0,25022,2025-03-13 19:38:12.471121,2025-03-13 19:38:12.471121,2025-03-17 19:38:12.470530
...,...,...,...,...,...,...,...,...
177,178,SupplierProduct,71,NaN,10,2025-04-25 14:20:29.456066,2025-04-25 14:20:29.456066,2025-04-30 00:00:00
178,179,SupplierProduct,72,NaN,15,2025-04-25 14:20:43.929158,2025-04-25 14:20:43.929158,2025-04-30 00:00:00
179,180,SupplierProduct,73,NaN,21,2025-04-25 14:20:50.427434,2025-04-25 14:20:50.427434,2025-05-08 00:00:00
180,181,ProductApproval,42,NaN,60,2025-04-25 16:48:02.735665,2025-04-25 16:48:02.735665,2025-05-10 00:00:00
181,182,SupplierProduct,74,NaN,60,2025-04-25 16:48:41.569368,2025-04-25 16:48:41.569368,2025-05-10 00:00:00

DataFrame: units

   id name  symbol                  created_at                  updated_at
0   1   kg     NaN  2025-03-13 19:38:11.448070  2025-03-13 19:38:11.448070
1   2    g     NaN  2025-03-13 19:38:11.461132  2025-03-13 19:38:11.461132
2   3    l     NaN  2025-03-13 19:38:11.478348  2025-03-13 19:38:11.478348
3   4    m     NaN  2025-03-13 19:38:11.493828  2025-03-13 19:38:11.493828
4   5   cm     NaN  2025-03-13 19:38:11.506791  2025-03-13 19:38:11.506791
5   6   KG     NaN  2025-04-04 13:17:55.713991  2025-04-04 13:17:55.713991

DataFrame: active_storage_blobs

,id,key,filename,content_type,metadata,service_name,byte_size,checksum,created_at
0,2,m3v0lh83uh7y7x4dnbqizgfic8uq,istockphoto-1291262112-612x612.jpg,image/jpeg,"{""identified"":true,""analyzed"":true}",local,24653,Pgvo078UnfjMSgwlqDIVvw==,2025-04-04 18:25:20.285146
1,3,jrcwhhuhddjfq2s9wt72b7ygblp7,istockphoto-1291262112-612x612.jpg,image/jpeg,"{""identified"":true,""analyzed"":true}",local,24653,Pgvo078UnfjMSgwlqDIVvw==,2025-04-04 18:26:02.658041
2,4,vmqaemmp4ohhq52h8msr8zjqoss6,Captura_de_Tela_2024-10-28_as_19.35.14.webp,image/webp,"{""identified"":true,""analyzed"":true}",local,104990,EozwQJthO7vV0s/YDGaydg==,2025-04-04 18:50:23.175801
3,5,ldz7rf2bn2wdqyi9ce7zt3fqmrzj,F7DA84-AVEP-0076-Aves-de-Postura-scaled.jpg,image/jpeg,"{""identified"":true}",local,1115973,TgDaKkqy4pKkvZUZshx7kg==,2025-04-07 11:34:39.454684
4,6,r5clizc76wnqbfg4p8at8hr8tbh1,F7DA84-AVEP-0076-Aves-de-Postura-scaled.jpg,image/jpeg,"{""identified"":true}",local,1115973,TgDaKkqy4pKkvZUZshx7kg==,2025-04-07 12:40:38.140713
5,7,6m2oo2p4ahwqeeakepnwfyq4tptm,F7DA84-AVEP-0076-Aves-de-Postura-scaled.jpg,image/jpeg,"{""identified"":true}",local,1115973,TgDaKkqy4pKkvZUZshx7kg==,2025-04-07 12:40:47.324017
6,8,gzjsl9758xl1qs0k222xkb4gwolk,WhatsApp Image 2025-04-04 at 11.45.40.jpeg,image/jpeg,"{""identified"":true}",local,55085,SjKM74DGp1qrFDyVotmjnQ==,2025-04-09 15:03:07.864582
7,9,i33lp1obwnnpbb87fye8c238ww9w,WhatsApp Image 2024-10-24 at 11.04.34.jpeg,image/jpeg,"{""identified"":true,""analyzed"":true}",local,26813,th1xd0dwUOXfpSh6ujMwKg==,2025-04-13 05:02:49.558425
8,10,ftcyrr0dxsi5qoijsgm24loox23h,barbie.png,image/png,"{""identified"":true,""analyzed"":true}",local,6619,kI+Q1+lKO7kfdSQZIHF06Q==,2025-04-18 01:03:11.365479
9,11,3h804e6ub4itd0gcbucpaz8g854k,37628ce6cd5afd2f27a96ee2986f87fe.jfif,image/jpeg,"{""identified"":true,""analyzed"":true}",local,9766,UPxIkLVXWztVtlD5Eqe0RQ==,2025-04-18 01:04:38.548907
10,12,pdjcgo49kgkwjw7izgy1cna1oasy,d5eb5880a1.webp,image/webp,"{""identified"":true,""analyzed"":true}",local,21932,hN9rEoDx4/n+/CTe3FXaFQ==,2025-04-18 01:20:42.084329
11,1,chucoc20c96j4jkw3nghnfo4untd,istockphoto-1291262112-612x612.jpg,image/jpeg,"{""identified"":true,""analyzed"":true}",local,24653,Pgvo078UnfjMSgwlqDIVvw==,2025-04-04 18:04:43.618771

DataFrame: discounts

,id,supplier_product_id,user_id,max_quantity,created_at,updated_at
0,1,1,22,23,2025-03-13 19:38:12.392805,2025-03-13 19:38:12.392805
1,2,2,48,19,2025-03-13 19:38:12.462847,2025-03-13 19:38:12.462847
2,3,3,18,15,2025-03-13 19:38:12.528818,2025-03-13 19:38:12.528818
3,4,4,43,35,2025-03-13 19:38:12.586826,2025-03-13 19:38:12.586826
4,5,5,6,10,2025-03-13 19:38:12.634575,2025-03-13 19:38:12.634575
5,6,6,35,44,2025-03-13 19:38:12.697814,2025-03-13 19:38:12.697814
6,7,7,34,24,2025-03-13 19:38:12.748802,2025-03-13 19:38:12.748802
7,8,8,13,20,2025-03-13 19:38:12.798904,2025-03-13 19:38:12.798904
8,9,9,8,48,2025-03-13 19:38:12.858652,2025-03-13 19:38:12.858652
9,10,10,20,16,2025-03-13 19:38:12.940298,2025-03-13 19:38:12.940298
10,11,11,10,27,2025-03-13 19:38:12.992763,2025-03-13 19:38:12.992763
11,12,12,7,22,2025-03-13 19:38:13.042789,2025-03-13 19:38:13.042789
12,13,13,1,18,2025-03-13 19:38:13.112521,2025-03-13 19:38:13.112521
13,14,14,14,10,2025-03-13 19:38:13.173964,2025-03-13 19:38:13.173964
14,15,15,25,19,2025-03-13 19:38:13.239058,2025-03-13 19:38:13.239058
15,16,16,47,22,2025-03-13 19:38:13.300388,2025-03-13 19:38:13.300388
16,17,17,25,13,2025-03-13 19:38:13.361844,2025-03-13 19:38:13.361844
17,18,18,20,31,2025-03-13 19:38:13.421813,2025-03-13 19:38:13.421813
18,19,19,43,50,2025-03-13 19:38:13.475627,2025-03-13 19:38:13.475627
19,20,20,13,38,2025-03-13 19:38:13.524978,2025-03-13 19:38:13.524978
20,21,21,6,33,2025-03-13 19:38:13.575077,2025-03-13 19:38:13.575077
21,22,22,7,22,2025-03-13 19:38:13.624126,2025-03-13 19:38:13.624126
22,23,23,26,15,2025-03-13 19:38:13.674577,2025-03-13 19:38:13.674577
23,24,24,46,27,2025-03-13 19:38:13.723232,2025-03-13 19:38:13.723232
24,25,25,10,12,2025-03-13 19:38:13.800608,2025-03-13 19:38:13.800608
25,26,26,3,15,2025-03-13 19:38:13.872613,2025-03-13 19:38:13.872613
26,27,27,12,42,2025-03-13 19:38:13.926897,2025-03-13 19:38:13.926897
27,28,28,31,28,2025-03-13 19:38:13.983418,2025-03-13 19:38:13.983418
28,29,29,35,20,2025-03-13 19:38:14.033516,2025-03-13 19:38:14.033516
29,30,30,38,22,2025-03-13 19:38:14.102184,2025-03-13 19:38:14.102184
30,31,31,26,11,2025-03-13 19:38:14.157237,2025-03-13 19:38:14.157237
31,32,32,39,34,2025-03-13 19:38:14.209728,2025-03-13 19:38:14.209728
32,33,33,22,12,2025-03-13 19:38:14.266085,2025-03-13 19:38:14.266085
33,34,34,4,40,2025-03-13 19:38:14.323983,2025-03-13 19:38:14.323983
34,35,35,10,37,2025-03-13 19:38:14.414086,2025-03-13 19:38:14.414086
35,36,36,8,37,2025-03-13 19:38:14.515102,2025-03-13 19:38:14.515102
36,37,37,36,18,2025-03-13 19:38:14.593589,2025-03-13 19:38:14.593589
37,38,38,6,45,2025-03-13 19:38:14.640305,2025-03-13 19:38:14.640305
38,39,39,1,20,2025-03-13 19:38:14.690694,2025-03-13 19:38:14.690694
39,40,40,40,50,2025-03-13 19:38:14.749799,2025-03-13 19:38:14.749799
40,41,41,17,25,2025-03-13 19:38:14.819139,2025-03-13 19:38:14.819139
41,42,42,16,14,2025-03-13 19:38:14.870836,2025-03-13 19:38:14.870836
42,43,43,21,15,2025-03-13 19:38:14.919581,2025-03-13 19:38:14.919581
43,44,44,1,27,2025-03-13 19:38:14.985157,2025-03-13 19:38:14.985157
44,45,45,47,10,2025-03-13 19:38:15.039795,2025-03-13 19:38:15.039795
45,46,46,7,11,2025-03-13 19:38:15.087418,2025-03-13 19:38:15.087418
46,47,47,14,39,2025-03-13 19:38:15.145472,2025-03-13 19:38:15.145472
47,48,48,28,30,2025-03-13 19:38:15.191412,2025-03-13 19:38:15.191412
48,49,49,14,17,2025-03-13 19:38:15.243207,2025-03-13 19:38:15.243207
49,50,50,43,23,2025-03-13 19:38:15.297877,2025-03-13 19:38:15.297877

DataFrame: products

,id,bar_code,unit_of_measurement_id,name,description,created_at,updated_at,image_url
0,1,38268786,8,Nome do produto,"Fresh parsley, Italian sausage, shallots, garl...",2025-03-13 19:38:11.710908,2025-03-13 19:38:11.710908,https://picsum.photos/200?random=557
1,2,63435450,2,Nome do produto,"28-day aged 300g USDA Certified Prime Ribeye, ...",2025-03-13 19:38:11.723834,2025-03-13 19:38:11.723834,https://picsum.photos/200?random=42
2,3,90317217,3,Nome do produto,"Fresh parsley, Italian sausage, shallots, garl...",2025-03-13 19:38:11.735112,2025-03-13 19:38:11.735112,https://picsum.photos/200?random=754
3,4,10570326,6,Nome do produto,Granny Smith apples mixed with brown sugar and...,2025-03-13 19:38:11.745885,2025-03-13 19:38:11.745885,https://picsum.photos/200?random=187
4,5,75424534,1,Nome do produto,"28-day aged 300g USDA Certified Prime Ribeye, ...",2025-03-13 19:38:11.755509,2025-03-13 19:38:11.755509,https://picsum.photos/200?random=719
...,...,...,...,...,...,...,...,...
59,70,7898208481157,23,COXA C/SOBRE COXA DE FRANGO,As Coxas e Sobrecoxas Can√ß√£o s√£o a escolha per...,2025-04-23 21:26:34.330100,2025-04-23 21:26:34.330100,NaN
60,71,1111111111111,27,TESTE,NaN,2025-04-25 14:20:29.441060,2025-04-25 14:20:29.441060,NaN
61,72,7896259412571,29,leite em po 1kg,NaN,2025-04-25 14:20:43.914821,2025-04-25 14:20:43.914821,NaN
62,73,7896342413089,28,file de peito de frango,NaN,2025-04-25 14:20:50.414132,2025-04-25 14:20:50.414132,NaN
63,74,1234567897894562123,30,carne moida patinho,NaN,2025-04-25 16:48:41.553568,2025-04-25 16:48:41.553568,NaN

DataFrame: users

,id,email,encrypted_password,reset_password_token,reset_password_sent_at,remember_created_at,created_at,updated_at,username,name,cpf,resume
0,3,lucius_kiehn@murazik.test,$2a$12$qbhnlJCoEG464CGIqjSqhuJ7Y0EURHRsw3T99kn...,NaN,NaN,NaN,2025-03-13 19:37:21.257020,2025-03-13 19:37:21.257020,eleni,J√∫lio da Costa,6.465650e+10,Eligendi quo eius voluptatem vitae exercitatio...
1,4,arden_orn@mclaughlin.example,$2a$12$gxj2oXcQa4/Hz7/3UJ59CeiGj.fdQQDw.0O59D5...,NaN,NaN,NaN,2025-03-13 19:37:21.636072,2025-03-13 19:37:21.636072,bernarda,Silas Amoreira,5.259463e+10,Sint nulla deleniti facere doloribus consequun...
2,5,davida.daniel@schaefer.example,$2a$12$Wc5aftJJ/6gmhhYfSH4yIuDZyjTS/g6f0OYc8tc...,NaN,NaN,NaN,2025-03-13 19:37:21.984472,2025-03-13 19:37:21.984472,louis_conroy,Gabrielly Concei√ß√£o,5.122399e+10,Reprehenderit necessitatibus repudiandae possi...
3,6,taunya@okon-mann.test,$2a$12$X2/Y67lfqpUVZZMi5Z4HfOAxrz.N8bE1GBfEOFe...,NaN,NaN,NaN,2025-03-13 19:37:22.269064,2025-03-13 19:37:22.269064,sylvester_labadie,Davi Lucas Lima,8.516355e+10,Omnis in officiis quae tempore non voluptas et...
4,7,shantay@brekke.test,$2a$12$yKTOYIOJwkse4HtXGnIecOhzrh4LDiBbMTqZbwN...,NaN,NaN,NaN,2025-03-13 19:37:22.601203,2025-03-13 19:37:22.601203,ayesha,Davi Lucca Banheira Jr.,9.047512e+10,Et dolor voluptatem sint nemo culpa ut id dist...
...,...,...,...,...,...,...,...,...,...,...,...,...
156,158,robervalsampaiors@gmail.com,$2a$12$L0laf0qWJSMnJUe1QqbgbeI1kLD1a1/4GfcDS.0...,NaN,NaN,NaN,2025-04-18 00:58:56.454287,2025-04-18 00:58:56.454287,adm_01963943000182,ADM Neval Alimentos LTDA,NaN,NaN
157,159,robervalsampaio@compreup.com.br,$2a$12$/.xRwY4MHiE9DUVAHKu9..g2reaKdqmRAsD3PSU...,NaN,NaN,NaN,2025-04-18 01:09:42.737040,2025-04-18 01:35:09.706699,adm_58111247000165,ADM JMR DISTRIBUIDORA E LOGISTICA,NaN,NaN
158,160,jacyanadias3@gmail.com,$2a$12$UMxKtt/WG/ECFD8L84ZvEeuezVXnQI7OjmsaUca...,NaN,NaN,NaN,2025-04-18 12:51:00.656849,2025-04-18 12:51:00.656849,adm_07200181000149,ADM cheppitos,NaN,NaN
159,161,robervalsampaio@compreup.com,$2a$12$/d19KmgImH1bvvNhNLjr/.v.ecRbKJsGS7KTtm7...,NaN,NaN,NaN,2025-04-25 00:17:30.519851,2025-04-25 00:17:30.519851,adm_64904295001509,ADM CAMIL ALIMENTOS S/A,NaN,NaN
160,162,deana6631@uorak.com,$2a$12$xo22Wa1XqoNbuR98E4X4seVIsGwFDO5pcBGy3cx...,NaN,NaN,NaN,2025-04-25 17:39:44.748699,2025-04-25 17:39:44.748699,adm_01963300018233,ADM teste temporario,NaN,NaN

DataFrame: homologated_products

,id,buyer_id,supplier_product_id,created_at,updated_at,last_purchase_date,last_purchase_value,last_quantity_purchased
0,4,2,32,2025-03-14 13:41:04.417225,2025-03-14 13:41:04.417225,NaN,NaN,NaN
1,6,2,20,2025-03-14 13:41:06.372191,2025-03-14 13:41:06.372191,NaN,NaN,NaN
2,2,2,18,2025-03-14 12:34:00.370359,2025-03-14 13:41:34.139173,2025-03-11,2.5,NaN
3,3,2,33,2025-03-14 13:41:03.710954,2025-03-14 13:41:44.850646,2025-03-04,4.0,NaN
4,21,2,60,2025-04-10 14:11:32.441320,2025-04-10 14:11:32.441320,2025-04-01,2200.0,3.0
5,9,2,40,2025-03-17 16:29:48.049092,2025-04-10 14:14:15.458887,2025-04-12,100.0,NaN
6,8,2,2,2025-03-17 16:29:30.637862,2025-04-10 14:14:25.732583,2025-04-03,10.0,NaN
7,24,2,51,2025-04-17 17:46:03.068755,2025-04-17 17:46:03.068755,2025-04-10,1550.0,25.0
8,28,60,51,2025-04-18 01:54:45.834906,2025-04-18 01:54:45.834906,NaN,NaN,NaN
9,30,60,62,2025-04-22 13:24:22.594917,2025-04-22 13:25:02.389422,2025-04-22,200.0,NaN
10,29,60,65,2025-04-22 13:24:21.086950,2025-04-22 13:25:51.011756,2025-04-22,50.0,2.0
11,31,60,66,2025-04-23 13:06:52.963155,2025-04-23 13:06:52.963155,2025-04-23,32.0,3.0
12,32,2,66,2025-04-23 21:25:41.391375,2025-04-23 21:25:41.391375,2025-04-23,32.0,3.0
13,34,2,74,2025-04-25 17:15:15.160550,2025-04-25 18:33:20.354677,2025-04-25,900.0,4.0

DataFrame: product_images

   id  product_id                  created_at                  updated_at
0   3           1  2025-04-04 18:26:01.949379  2025-04-04 18:26:03.573012
1   4           1  2025-04-04 18:50:22.744983  2025-04-04 18:50:25.832939
2   5          54  2025-04-07 11:34:38.706584  2025-04-07 11:34:39.636788
3   1           1  2025-04-04 18:04:42.913107  2025-04-28 13:01:02.713634
4   2           1  2025-04-04 18:25:19.765166  2025-04-28 13:40:53.593899

DataFrame: savings

,id,company_id,supplier_product_id,saving_value,created_at,updated_at,previous_unit_price,current_unit_price
0,1,2,60,100.0,2025-04-01 13:39:40.437316,2025-04-01 13:39:40.437316,2300.0,2200.0
1,2,2,51,50.0,2025-04-01 13:43:58.778862,2025-04-01 13:43:58.778862,1600.0,1550.0